<h1>Podcasts for <%= Time.now.strftime("%A") %></h1>
<div align="left">
  <% @podcasts.each do |podcast| %>
    <% if podcast.days === Time.now.strftime("%A") %>
    <%= link_to podcast.title, podcast.link %>  Episode: <%= podcast.episode %> <%= podcast.last_title %>

      <button type="button" class="btn btn-default">
        <%= link_to "Update", edit_user_podcast_path(@user, podcast) %>
      </button>
      <button type="button" class="btn btn-default">
        <%= link_to "Delete", user_podcast_path(@user.id, podcast), method: :delete, remote: true %>
      </button>
      </br></br>
    <% end %>
  <% end %>
</div>
