<h1 align="center">Edit Podcast</h1>

<%= form_for [current_user, @podcast] do |f| %>
  <%= f.label "Episode" %>
  <%= f.number_field :episode, :style => 'width:40px' %>
  <%= f.label "Name" %>
  <%= f.text_field :title, class: 'field', placeholder: 'Add a new podcast' %>
  <%= f.label "Link" %>
  <%= f.text_field :link, class: 'field', placeholder: 'Link to it' %>
  <%= f.label "Day" %>
  <%= f.text_field :days, class: 'field', placeholder: 'When to listen?' %>
  <%= f.submit 'Save', class: 'btn btn-success' %>
<% end %>
