<div align="left" class="render">
  <% @podcasts.each do |podcast| %>
    <%= link_to podcast.title, podcast.link %>
    <i><%= link_to edit_user_podcast_path(@user, podcast) do %>
      <i class="ion-ios-gear"></i>
    <% end %>
    </i>
    <i><%= link_to user_podcast_path(@user.id, podcast), method: :delete, remote: true do %>
      <i class="ion-trash-a"></i>
    <% end %>
    </i>
    <div class="episode">
      Episode: <%= podcast.episode %> <%= podcast.last_title %></br>
      Day: <%= podcast.days.capitalize %>
    </div>
  </br>
  <% end %>
</div>
