<!DOCTYPE html>
<html>
  <head>
    <title>Podcaster</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" type="text/css" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
  </head>

  <body>

    <nav>
      <li><%= link_to authenticated_root_path do %>
        <i class="ion-ionic"></i>
        <% end %>
      </li>
      <li><%= link_to "Schedule", podcasts_schedule_path %></li>
      <div class="profile">
        <% if user_signed_in? %>
          <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
          <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
        <% else %>
          <%= link_to "Sign up", new_user_registration_path %> |
          <%= link_to "Login", new_user_session_path %>
        <% end %>
      </div>
    </nav>

    <%= yield %>
  </body>
</html>
